@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --theme-primary-color: rgb(170, 70, 70);
  --theme-secondary-color: #3f51b5;
  --primary-hover-color: rgba(207, 207, 207, 0.164);
  --light-color: white;
  --dark-color: black;
  --card-body-bgcolor: rgb(241, 234, 234);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  background-color: #f3f3f3;
}

.page-title {
  padding: 25px 0 !important;
}

h5 a,
h6 a,
li a {
  text-decoration: none;
  color: var(--light-color);
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

h5 a:hover,
h6 a:hover,
li a:hover {
  background-color: var(--primary-hover-color);
}

.favorites-link {
  text-decoration: none;
}

.favorites-count {
  margin-left: 5px;
  background-color: var(--theme-primary-color);
  padding: 5px;
  border-radius: 5px;
  color: var(--light-color);
  font-size: 20px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-ul li {
  list-style-type: none;
  margin: 0 10px;
}

.image-box .meetup-image {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.section-full {
  height: 100vh;
}

section.meetup-field-wrapper {
  background: #f7f7f7;
  background: linear-gradient(156deg, #f7f7f7 0%, #f0f0f0 50%, #d7d7d7 100%);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 5px 5px;
          box-shadow: 0 5px 5px;
}

section .meetup-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  color: var(--dark-color);
  font-weight: 500;
}

section .meetup-field span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

section .meetup-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .meetup-actions a {
  text-decoration: none;
  margin-right: 10px;
}

.primary {
  background-color: var(--theme-primary-color) !important;
  color: var(--light-color) !important;
  text-decoration: none;
}

.primary:hover, .primary:active, .primary:focus {
  background-color: #cf3838 !important;
  color: var(--light-color) !important;
}

.secondary {
  background-color: var(--theme-secondary-color) !important;
  color: var(--light-color) !important;
  margin-right: 10px;
}

.secondary:hover, .secondary:active, .secondary:focus {
  background-color: #1818d4 !important;
  color: var(--light-color) !important;
}

.form-field {
  margin: 25px 0 !important;
  position: relative;
}

.form-field div {
  width: 100%;
}

.form-field .form-input input {
  max-width: calc(100% - 80px);
  text-overflow: ellipsis;
}

.form-field .resetInput {
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-radius: 50%;
  background-color: #cacaca;
}

.form-field .resetInput:hover, .form-field .resetInput:active, .form-field .resetInput:focus {
  background-color: var(--theme-primary-color) !important;
  color: inherit !important;
}

.form-field .resetInput svg:hover, .form-field .resetInput svg:active, .form-field .resetInput svg:focus {
  background-color: inherit !important;
  color: var(--light-color) !important;
}

.drawer .nav-mobile {
  height: 150px;
  background-color: var(--theme-secondary-color);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 567px) and (max-width: 768px) {
  .meetup-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */